<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Side Navigation Bar</title>
    <link rel="stylesheet" href="style_about.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2>Contents</h2>
            <ul>
                <li><a href="#home"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="#history"><i class="fas fa-user"></i>History</a></li>
                <li><a href="#about"><i class="fas fa-address-card"></i>About</a></li>
                <li><a href="#contact"><i class="fas fa-address-book"></i>Contact</a></li>
            </ul>
            <div class="social_media">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="main_content">
            <div class="header">
                <center><b>ABOUT ROSENWALD SCHOOLS</b></center>
            </div>
            <div class="info">
                <div id="home" style="color:blue"><h2>Home</h2></div>
                <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Odio velit modi voluptate dolores optio sapiente ratione? Unde veritatis
                    reprehenderit esse quaerat qui animi quibusdam facere ipsa dignissimos, quos facilis, optio iste
                    culpa quo minus cum pariatur sint inventore aspernatur maiores? Ratione, nulla! Iste sequi dolor
                    consequuntur quidem nulla nemo praesentium asperiores fuga porro quod expedita delectus explicabo,
                    debitis veniam in doloremque ipsa! Quos magni doloribus dicta neque iste dolor cupiditate
                    praesentium nisi ea nesciunt, molestias hic doloremque possimus nobis, accusantium quidem aspernatur
                    minima maiores. Accusantium sapiente, sed harum tempora animi corrupti ratione illo rerum cupiditate
                    iure veniam officiis quasi distinctio? A sed nobis ut exercitationem atque accusamus sit natus
                    officiis totam blanditiis at eum nemo, nulla et quae eius culpa eveniet voluptatibus repellat illum
                    tenetur, facilis porro. Quae fuga odio perferendis itaque alias sint, beatae non maiores magnam ad,
                    veniam tenetur atque ea exercitationem earum eveniet totam ipsam magni tempora aliquid ullam
                    possimus? Tempora nobis facere porro, praesentium magnam provident accusamus temporibus! Repellendus
                    harum veritatis itaque molestias repudiandae ea corporis maiores non obcaecati libero, unde ipsum
                    consequuntur aut consectetur culpa magni omnis vero odio suscipit vitae dolor quod dignissimos
                    perferendis eos? Consequuntur!</div>
                <div id="history" style="color:blue"><h2>History of Rosenwald Schools</h2></div>
                <div>Lorem ipsum dolor sit, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi accusantium
                    voluptate quod ut, quaerat itaque amet odio praesentium labore eligendi assumenda et soluta
                    laboriosam quas iusto beatae, eum, deserunt eaque maiores cum fugiat! Atque, error facere sit quae
                    officia doloremque ut? Fuga debitis sint odit iste aperiam repellendus, culpa ipsum quam quas iure
                    id dolores accusamus enim, quos laborum dolorem eveniet distinctio fugit deserunt architecto aliquid
                    necessitatibus error, earum itaque? Dolorem tempora iusto quaerat veritatis, maiores in deleniti
                    tempore cupiditate nihil aperiam delectus excepturi necessitatibus id quae quis eius obcaecati
                    quidem provident optio voluptatibus ut eos alias quos. Eos, minima. amet consectetur adipisicing
                    elit. A sed nobis ut exercitationem atque accusamus sit natus officiis totam blanditiis at eum nemo,
                    nulla et quae eius culpa eveniet voluptatibus repellat illum tenetur, facilis porro. Quae fuga odio
                    perferendis itaque alias sint, beatae non maiores magnam ad, veniam tenetur atque ea exercitationem
                    earum eveniet totam ipsam magni tempora aliquid ullam possimus? Tempora nobis facere porro,
                    praesentium magnam provident accusamus temporibus! Repellendus harum veritatis itaque molestias
                    repudiandae ea corporis maiores non obcaecati libero, unde ipsum consequuntur aut consectetur culpa
                    magni omnis vero odio suscipit vitae dolor quod dignissimos perferendis eos? Consequuntur!</div>
                <div id="about" style="color:blue"><h2>About the Construction of Rosenwald Schools</h2></div>
                <div>Lorem ipsum dolor sit, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquam
                    quis molestias minima, ipsum autem officiis hic. Illum rem consequatur quos nisi velit optio enim
                    omnis hic sunt quibusdam, nobis ipsa veritatis unde earum a exercitationem accusantium quo dolores
                    voluptatibus. Autem dignissimos odio velit, dolorum numquam molestias accusamus non eligendi
                    doloribus fugiat quasi voluptatum omnis eos ex ipsam nemo error asperiores quos facere nisi
                    veritatis quas magnam quis. Odit culpa ducimus commodi, autem animi, nihil optio enim laborum,
                    reiciendis error nisi? Et voluptatibus deleniti consequuntur consequatur alias maxime repellendus
                    culpa! Pariatur ab atque vel culpa, magni ipsum eius in sit? amet consectetur adipisicing elit. A
                    sed nobis ut exercitationem atque accusamus sit natus officiis totam blanditiis at eum nemo, nulla
                    et quae eius culpa eveniet voluptatibus repellat illum tenetur, facilis porro. Quae fuga odio
                    perferendis itaque alias sint, beatae non maiores magnam ad, veniam tenetur atque ea exercitationem
                    earum eveniet totam ipsam magni tempora aliquid ullam possimus? Tempora nobis facere porro,
                    praesentium magnam provident accusamus temporibus! Repellendus harum veritatis itaque molestias
                    repudiandae ea corporis maiores non obcaecati libero, unde ipsum consequuntur aut consectetur culpa
                    magni omnis vero odio suscipit vitae dolor quod dignissimos perferendis eos? Consequuntur!</div>
                <div id="contact" style="color:blue"><h2>Contact Us</h2></div>
                <div>Lorem ipsum dolor sit, amet Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam saepe
                    dolorum obcaecati exercitationem repellendus velit quis placeat? Labore dolorem magnam recusandae
                    consequatur rem. Dolore, nisi in nesciunt quae adipisci placeat laudantium pariatur labore eligendi
                    inventore culpa, similique earum aliquam dolorum architecto temporibus omnis ut. Voluptatum sapiente
                    provident veritatis exercitationem. Asperiores omnis, recusandae labore iste voluptatem soluta ipsum
                    sint totam iure cupiditate at officiis laudantium numquam quos quas, minus nostrum? Delectus, amet!
                    Provident ipsa aut ea officiis. Quisquam tenetur iusto consequuntur id porro facere provident
                    mollitia quibusdam nisi, assumenda cumque aspernatur, ad itaque possimus aliquid deleniti? Facilis,
                    repellendus alias! Commodi, dolor? consectetur adipisicing elit. A sed nobis ut exercitationem atque
                    accusamus sit natus officiis totam blanditiis at eum nemo, nulla et quae eius culpa eveniet
                    voluptatibus repellat illum tenetur, facilis porro. Quae fuga odio perferendis itaque alias sint,
                    beatae non maiores magnam ad, veniam tenetur atque ea exercitationem earum eveniet totam ipsam magni
                    tempora aliquid ullam possimus? Tempora nobis facere porro, praesentium magnam provident accusamus
                    temporibus! Repellendus harum veritatis itaque molestias repudiandae ea corporis maiores non
                    obcaecati libero, unde ipsum consequuntur aut consectetur culpa magni omnis vero odio suscipit vitae
                    dolor quod dignissimos perferendis eos? Consequuntur!</div>

            </div>
        </div>
    </div>

</body>

</html>