<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:wght@400;600&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>

        <div class="gradient_top"></div>
        <a href="index.html"><button>return to home page</button></a>

            <!-- Footer -->
            <div>
                <div class="bottom_rectangle"></div>
                <div class="fisk_logo_footer">
                    <img src = "FISK-LOGO-PLACEHOLDER.png" alt="FISK LOGO" />
                </div>
                <h4 class="fisk_address_footer">1000 17th Avenue N. Nashville, TN 37208</h4>
    
                <h4 class="about_rosenwald">About Rosenwald Database</h4>
                <h4 class="about_fisk">About Fisk University</h4>
                <h4 class="about_developers">About the Developer Team</h4>
    
                <h4 class="library_catalogue">Library Catalogue</h4>
                <h4 class="special_collections">Special Collections</h4>
                <h4 class="research_guides">Research Guides</h4>
    
                <h4 class="schools_collection">Schools Collection</h4>
                <h4 class="terms_of_use">Terms of Use</h4>
                <h4 class="admin_login">Admin. Login</h4>
    
                <h4 class="contact_us">Contact Us</h4>
                <h4 class="feedback">Feedback</h4>
    
                <div class="twitter_icon"></div>
                <div class="insta_logo"></div>
    
                <div class="social_media_divider"></div>
    
                <h4 class="accesibility">Accesibility</h4>
                <h4 class="privacy">Privacy</h4>
    
                <h4 class="library_cc">©The Fisk University John Hope and Aurelia E. Franklin Library, 2021</h4>
                
            </div>
    </body>

</html>